# the usual culprits
/node_modules
.DS_Store

# personal local files
configuration.js
configuration.sh
fiddle.js
.env.local
.env.development.local
.env.test.local
.env.production.local

# globbed things

# built things
/dist
/build
globbed-*.js
.docusaurus
.cache-loader
